body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
    color: #333;
}
select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: inline-block;
    min-width: 150px;
}
.head {
    color: #01579b;
    padding: 10px;
    text-align: center;
    font-size: 54px;
    margin-bottom: 30px;
}

.head img, .head span, .head svg {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 20px;
    color: #fff;
    background: #01579b;
}

@media (max-width: 500px) {
    .head img, .head span, .head svg {
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 20px;
    }
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
}

h1 {
    text-align: center;
    color: #01579b;
    margin-bottom: 40px;
}
h3 {
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h4 {
    color: #555;
    padding: 5px 10px;
    border-left: 4px solid #007BFF;
    margin-bottom: 10px;
    cursor: pointer;
}
.clock {
    text-align: center;
    margin-bottom: 20px;
    color: #01579b;
    font-size:32px;
    margin-top: -50px;
}

.section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #039be5;
    transition: transform 0.2s;
}

.section > div a {
    display: block;
}

/*
.section:hover {
    transform: translateY(-5px);
}
*/
.section h2 {
    color: #0288d1;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #b3e5fc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="button"] {
    min-width: 130px;
    width: 15%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #b3e5fc;
    border-radius: 5px;
    box-sizing: border-box;
    background: #039be5;
    color: #fff;
}
input[type="button"]:hover {
    cursor: pointer;
    background: #01579b;
}

a {
    color: #039be5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

.grid {
    max-width:80%;
    margin: 0 auto;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

.spinner {
    width: 25px;
    height: 25px;
}

.circle {
    fill: none;
    stroke: #3498db;
    stroke-width: 8;
    stroke-linecap: round;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.story-sourcelnk {
    display: inline-block;
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
    text-align:right;
}

.section a {
    margin-bottom: 10px;
}

#music span:first-child, #movies #span:first-child {
    color: #039be5;
}

#music span:last-child, #movies span:last-child{
    color: darkblue;
}

.search-wrap {
    position: relative;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Initially hidden */
    z-index: 1000;
}
.search-results div {
    padding: 10px;
    cursor: pointer;
}
.search-results div:hover {
    background-color: #f0f0f0;
}

.search-results a {
    padding: 5px 10px;
}

.search-results a:hover {
    background-color: #f0f0f0;
    color: #333;
}

#footer {
    margin: 0 auto;
    max-width:80%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer hr {
}
#footer .col {
    display: inline-block;
    padding: 10px;
    width:300px;
    max-width: 100%;
}
#footer .founder {
    text-align: center;
}
.founder img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #000;
}
.social {
    display: flex;
    justify-content: center;
}
.social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.founder ul {
    list-style: none;
}
.founder ul li {
    display: inline-block;
    width:35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    text-align:center;
    line-height: 50px;
    border: 1px solid #000;
}
.settings {
    position: relative;
}
#qr {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#qr:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.settings img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.goto.settings img {
    transition: transform 0.5s ease;
}

.goto.settings img:hover {
    transform: rotate(360deg);
}

.settings.actions {
    text-align: center;
}
.cup {
    transition: transform 0.4s ease;
}
.cup:hover {
    transform: scale(1.05) rotate(10deg);
}